= content_for(:title, 'Home')

#pins.transitions-enabled
  - @pins.each do |pin|
    .box
      .card
        .card-image.waves-effect.waves-block.waves-light
          = link_to (image_tag pin.image.url), pin

        - if pin.description
          %span.card-title.black-text= pin.title
          .card-content
            %p= pin.description
