= content_for(:title, 'Home')

- @pins.each do |pin|
  .card.large
    .card-image.waves-effect.waves-block.waves-light
      = link_to (image_tag pin.image.url(:medium)), pin
      %span.card-title= pin.title

    .card-content
      %p= pin.description
