#flash_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999; // Notifications always on top of other elements
}

.flash {
  padding: 1.5rem 0;
  text-align: center;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.flash-success {
  background: rgba(102, 187, 106, 0.85);
}

.flash-error {
  background: rgba(239, 83, 80, 0.85);
}

.flash-alert {
  background: rgba(175, 163, 29, 0.85);
}

.flash-info {
  background: rgba(31, 145, 241, 0.85);
}
