// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 5px;
    width: 350px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.22);
    border-radius: 0;
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
    }
  }

  .card {
    margin: 0;
  }
}
